# API key and secret for the Bitvavo API
APIKEY=
APISECRET=

# Amount of EUR to buy or sell
EUR_AMOUNT='500'

# Sentiment threshold for the bot to buy or sell
SENTIMENT_THRESHOLD='69'

# Depth threshold amont all book orders for the bot to buy or sell within this range
DEPTH_THRESHOLD='0.08'

# The bot to buy or sell
TRADE='true'